@font-face {
    font-family:"Roboto Bold";
    src: url(fonts/Roboto-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto Regular ";
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{margin: 0;}

/* -------------- Nav Bar ----------------------------------- */
.nav {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  padding: 40px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  text-decoration: none;
}
.link1,
.link2,
.link3,
.link4,
.link5 {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.nav > a:not(:nth-of-type(1)):hover{
  border-bottom: 1px solid #e5e7eb;
}

.selected {
  border-bottom: 1px solid #e5e7eb;
}

@media (max-width: 500px){
  .nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}


/* ----------------------------------------------------------- */
.background{ 
    padding-inline: 3rem;
}

/*

h1, h2 {color: black;
  font-size: 18px;
  font-family: "Roboto Regular";  }
.mosque{ margin-top: 10px}
img {  width: 30%; 
    height: auto; border: 2px solid #172c66 }
p { color: black;
  font-size: 18px;
  font-family: "Roboto Regular";  }
li  { color: black;
  font-size: 18px;
  font-family: "Roboto Regular"; }

*/ 
.container{ display: flex; justify-content: center;margin-bottom: 5px;}
.container2{ display: flex; justify-content: space-between; }
main header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main header div {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

main header h1,
main header h2 {
  color: black;
  font-size: 18px;
  font-family: "Roboto Regular";
}

main figure {
  display: flex;
  justify-content: space-between;
}

main figure img {
  width: 30%;
  height: auto;
  border: 2px solid #172c66;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
/*
main section ul {
  list-style-type: none;
}

*/

main section li {
  color: black;
  font-size: 18px;
  font-family: "Roboto Regular";
  margin-bottom: 10px;
}

main section li:first-child {
  margin-top: 10px;
}






  .footer{
    font-family:"Roboto";
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
   
}


.footerp{
  color:#e5e7eb;
  font-size: 20px;
}