/* -------------- General Styles ----------------------------- */
@font-face {
    font-family:"Roboto Bold";
    src: url(fonts/Roboto-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto Regular ";
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{margin: 0;}

/* -------------- Nav Bar ----------------------------------- */
.nav{display:flex;background-color: #1F2937 ;justify-content: space-between;padding: 40px;}
.logo{color:#F9FAF8; font-size: 24px;}
.link1, .link2, .link3 , .link4, .link5{color: #e5e7eb;font-size: 18px;}

/* -----------Hero Section --------------------------------------- */
.hero{background-color: #1F2937 ; display: flex; align-items: center;padding: 20px;}
.text{flex:1;padding-right: 20px;padding:20px}
.main{color:#F9FAF8 ; font-size: 48px;font-family: "Roboto Bold";}
.secondary{color:#e5e7eb ; font-size: 18px; font-family: "Roboto Regular";}
.signup-btn {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Roboto Regular";
}


/* -------------- Guides Section ------------------------ */

#guides-main-container{

    block-size: 35rem;
    inline-size: 100%;
    background-color: #fff;

}

/* ------Testimonial Section --------------------- */
.container{
    inline-size: 100%;
    min-block-size: 35rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
  }

.testimonial-box{
    --inline: 100%;
    inline-size: var(--inline);
    min-block-size: 80%;
    display: flex;
    position: relative;
    background-color: #e5e7eb;
    overflow: hidden;
}

@media (min-width: 600px){
    .testimonial-box{
        --inline: 40rem;
        block-size: 21rem;
    }
}

.testimonial{
    min-inline-size: 100%;
    block-size: 100%;
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 10s steps(5) infinite;
    transform: translateX(calc(-100% * 1));
}

.tes-text{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    padding-inline: 0.5em;
    text-align: center;
}


@keyframes scroll {
    0%,20% {
        transform: translateX(calc(-100% * 0));
    }
    /* 20% {
        transform: translateX(calc(-100% * 0));
    } */
    25%,40% {
        transform: translateX(calc(-100% * 1));
    }
    /* 40% {
        transform: translateX(calc(-100% * 1));
    } */
    45%, 60% {
        transform: translateX(calc(-100% * 2));
    }
    /* 60% {
        transform: translateX(calc(-100% * 2));
    } */
    65%, 80% {
        transform: translateX(calc(-100% * 3));
    }
    /* 80% {
        transform: translateX(calc(-100% * 3));
    } */
    85%, 100% {
        transform: translateX(calc(-100% * 4));
    }
    /* 100% {
        transform: translateX(calc(-100% * 4));
    } */
}

/* ------------------------------ DUBLIN PAGE -------------------------------------- */

.dublin-section{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}

.dublin-head{

    inline-size: 100%;
    text-align: center;
    font-family: "Roboto Bold";
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    margin-block-start: 1rem;

}

.dublin-image{

    inline-size: 100%;
    block-size: 18rem;
    border-radius: 10px;
    box-shadow: 5px 5px 8px  #1F2937;

}

.dublin-article{

    inline-size: 100%;
    padding: 0.75em;
    text-align: justify;

}

.dublin-article > p{

    font-size: 18px;
    font-family: "Roboto Regular";
    color: #1F2937;
    line-height: 1.5em;
    margin-block-start: 1.5em;

}

@media (min-width: 550px){
    .dublin-image{
        block-size: 25rem;
    }

    .dublin-article{
        inline-size: 80%;
    }
}

@media (min-width: 700px){
    .dublin-image{
        inline-size: 80%;
        block-size: 35rem;
    }
}

@media (min-width: 1200px){
    .dublin-image{
        inline-size: 70%;
        block-size: 35rem;
    }
}
/*-------MILANO PAGE-------*/

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    
}

.left-box{
    width: 48%;
    margin-top: 20px;
    margin-bottom:20px;
    align-self: center;
    
}

.left-box:nth-of-type(1){
    margin-top: 70px;
}

.right-box{
    width: 48%;
    margin-bottom:20px;
}
.all-left{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    isolation: isolate;
}
.all-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    
}

.gallery {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.gallery img {
    width: 50%;
    height: auto;
    margin: 10px;
}
.rotated-image {
    margin-top: 1rem;
    transform: rotate(-45deg);
    z-index: -1;
}