body {
    margin: 0;
    font-family: "Roboto Regular";
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    
}

.left-box{
    width: 48%;
    margin-top: 20px;
    margin-bottom:20px;
    align-self: center;
    
}
.right-box{
    width: 48%;
    margin-bottom:20px;
}
.all-left{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    
}
.all-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    
}

.gallery {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.gallery img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}
.rotated-image {
    transform: rotate(-45deg)
}